/* ==========================================================================
   #LOZENGE
   ========================================================================== */

.c-lozenge {
  display: inline-block;
  background-color: $color-brand;
  padding: $unit-small;

  &#{&} {
    color: $color-bg;
  }

}
