/* ==========================================================================
   #IMAGES
   ========================================================================== */

.c-image-left,
.c-image-right {
  margin-bottom: $unit;
  max-width: 50%;
}

.c-image-left {
  float: left;
  margin-right: $unit;
  margin-left: -$unit;
}

.c-image-right {
  float: right;
  margin-right: -$unit;
  margin-left: $unit;
}
