/* ==========================================================================
   #TAGS
   ========================================================================== */

.c-tag {
  @include rotate();
  @include font-size(12px);
  display: inline-block;
  background-color: $color-text;
  padding-right: $unit-tiny;
  position: relative;
  margin-left: calc(#{$unit-tiny} + 1ch);
  border-top-right-radius: $base-radius;
  border-bottom-right-radius: $base-radius;
  transition: 0.2s;

  &#{&} {
    color: $color-bg;
  }

  &:hover,
  &:focus {
    background-color: $color-brand;
    text-decoration: none;

    &::before {
      border-right-color: $color-brand;
    }

  }

  &::before {
    content: "";
    border: $unit-small solid transparent;
    border-right-color: $color-text;
    position: absolute;
    top: 0;
    right: 100%;
    transition: 0.2s;
  }

}
