/* ==========================================================================
   #LOGO
   ========================================================================== */

.c-logo {
  display: block;
}

  .c-logo__path {
    fill: #333;
    transition: 0.2s;

    .c-logo:hover & {
      fill: $color-brand;
    }

  }
