/* ==========================================================================
   #LOGOTYPE
   ========================================================================== */

.c-logotype {
  text-transform: lowercase;
    word-spacing: -.38em;
}
  .c-logotype__is:before {
    content: ".";
    color: $color-brand;
  }

