/* ==========================================================================
   #SITE-FOOTER
   ========================================================================== */

.c-site-footer {
  background-color: #333;
  text-align: center;
  color: #f9f9f9;
  padding-top:    $unit-huge;
  padding-bottom: $unit-huge;
}
