/* ==========================================================================
   #LOGOTYPE
   ========================================================================== */

.c-logotype {
  text-transform: lowercase;
    word-spacing: -.33em;
}
  .c-logotype__is:before {
    content: ".";
  }

