/* ==========================================================================
   #LOGO
   ========================================================================== */

.c-logo {

}

  .c-logo__path {
    fill: #333;
    transition: 0.2s;

    .c-logo:hover & {
      fill: #f43059;
    }

  }
