/* ==========================================================================
   #SITE-NAV
   ========================================================================== */

.c-site-nav {
  margin-bottom: 0;
  font-weight: 700;
  text-align: right;
  overflow: hidden;
}

  .c-site-nav__logo {
    float: left;
  }

  .c-site-nav__link {
    padding-left: $unit;
    padding-right: $unit;
    line-height: $unit-large;
    display: inline-block;

    @include mq($from: md) {
      line-height: 3 * $unit;
    }

    &#{&} {
      color: $color-text;
    }

    &:first-child {
      padding-left: 0;
    }

    &:last-child {
      padding-right: 0;
    }

  }
