/* ==========================================================================
   #IMAGES
   ========================================================================== */

.c-image {
  margin-bottom: $unit;
  max-width: 50%;
}

.c-image--small {
  width: 20 * $unit;
}

.c-image--left {
  float: left;
  margin-right: $unit;
  margin-left: -$unit;
}

.c-image--right {
  float: right;
  margin-right: -$unit;
  margin-left: $unit;
}
