/* ==========================================================================
   #CARD
   ========================================================================== */

.c-card-list {
  margin-left: 0;
}

.c-card {
  background-color: #fff;
  margin: 0;
  padding: $unit;
  margin-bottom: $unit;
  list-style: none;
  overflow: hidden;
  border: 0 solid $color-brand;
  position: relative;
  border-radius: $base-radius;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);

  > p:last-of-type {
    margin-bottom: 0;
  }

}

.c-card--sponsored {
  background-color: $color-brand;
  border-color: #333;

  &, a {
    color: $color-bg;
  }

}

.c-card:nth-of-type(odd) {
  border-left-width: $unit-small;
  padding-left: $unit-small;
}

.c-card:nth-of-type(even) {
  border-right-width: $unit-small;
  padding-right: $unit-small;
  text-align: right;
}

.c-card__meta {
  @include font-size(14px);
  color: #999;

  .c-card--sponsored & {
    color: rgba(255, 255, 255, 0.8);
  }

}

  .c-card__title {
    margin-bottom: 0;
  }

  .c-card a {
    position: relative;
    z-index: 2;
  }

  .c-card__img {
    border-radius: 50%;
    shape-outside: circle();
  }

  .c-card:nth-of-type(odd) .c-card__img {
    float: left;
    margin-right: 1.5rem;
  }

  .c-card:nth-of-type(even) .c-card__img {
    float: right;
    margin-left: 1.5rem;
  }

  .c-card__cta.c-card__cta {
    position: absolute;
    top:    0;
    right:  0;
    bottom: 0;
    left:   0;
    z-index: 1;
  }
