/* ==========================================================================
   #LOZENGE
   ========================================================================== */

.c-lozenge {
  display: inline-block;
  background-color: $color-brand;
  color: #f9f9f9;
  padding: 1ch;
}
