/* ==========================================================================
   #CONTENT
   ========================================================================== */

.c-content {
  padding-top: $unit;

  @include mq($from: md) {
    position: relative;
    z-index: 1;
    background-color: #f9f9f9;
    margin-top: -12 * $unit;
  }


}
