/* ==========================================================================
   #IMAGES
   ========================================================================== */

.c-image {
  margin-bottom: $unit;
  max-width: 50%;

  p:has(&) {
    margin-bottom: 0;
  }

}

.c-image--small {
  width: 20 * $unit;
}

.c-image--left {
  float: left;
  margin-right: $unit;
  margin-left: -$unit;
}

.c-image--right {
  float: right;
  margin-right: -$unit;
  margin-left: $unit;
}

/**
 * Full (as in FULL) width images that occupy the entire screen’s width, not
 * just the container’s.
 */
.c-image--panoramic {
  width: 100%;
  max-width: 100%;
  margin-top:    9rem;
  margin-bottom: 9rem;
}
