/* ==========================================================================
   #CONTENT
   ========================================================================== */

.c-content {
  padding-top: $unit;

  @include mq($from: md) {
    position: relative;
    z-index: 1;
    background-color: $color-bg;
    //background-image: linear-gradient(darken($color-bg, 5%), $color-bg 24 * $unit);
    margin-top: -12 * $unit;
  }


}
