/* ==========================================================================
   #PAGE
   ========================================================================== */

html {
  font-family: Roboto, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  font-weight: 400;
  color: $color-text;
  background-color: $color-bg;
  font-size: 1em;
  line-height: 1.5;
}
