/* ==========================================================================
   #LINKS
   ========================================================================== */

a,
a:visited {
  color: var(--color-brand);
  text-decoration: none;

  &:hover,
  &:focus {
    text-decoration: underline;
  }

}
