/* ==========================================================================
   #MEDIA
   ========================================================================== */

/* Images
   ========================================================================== */

img {
  max-width: 100%;
  display: inline-block;
  vertical-align: middle;
  height: auto;
  shape-margin: 0.75rem;
}

svg {
  vertical-align: middle;
}
