/* ==========================================================================
   #QUOTES
   ========================================================================== */

/**
 * Inline quotes.
 *
 */
q {
  font-style: italic;
  quotes: "‘" "’" "“" "”";

  &:before {
    content: open-quote;
  }

  &:after {
    content: close-quote;
  }

}





/**
 * Block quotes.
 *
 * 1. Hang opening punctuation.
 */
blockquote {
  @include font-size(20px);
  font-family: Charter, Bitstream Charter, Sitka Text, Cambria, serif;
  margin: 2 * $unit;
  font-style: italic;
  quotes: "“" "”";
  color: #666;

  @media (min-width: 60rem) {
    margin-top:    6 * $unit;
    margin-right:     -$unit;
    margin-bottom: 6 * $unit;
    margin-left:      -$unit;
  }

  p {
    text-indent: -0.275em; /* [1] */

    &:before {
      content: open-quote;
    }

    &:after {
      content: no-close-quote;
    }

    &:last-of-type {
      margin-bottom: 0;

      &:after {
        content: close-quote;
      }

    }

  }

  q {
    quotes: "‘" "’";

    &:before {
      content: open-quote;
    }

    &:after {
      content: close-quote;
    }

  }

}
