/* ==========================================================================
   #WRAPPER
   ========================================================================== */

.o-wrapper {
  max-width: 80ch;
  margin-right: auto;
  margin-left:  auto;
  padding-right: $unit;
  padding-left:  $unit;
}
