/* ==========================================================================
   #PROSE
   ========================================================================== */

.s-prose {

  > p:first-of-type {
    @include font-size(18px);
  }

  ol {
    counter-reset: ol;
    list-style: none;
    margin-left: 0;

    > li {
      counter-increment: ol;
      padding-left: $unit-large;
      text-indent: -$unit-large;

      &::before {
        @include font-display();
        content: counter(ol) ".";
        display: inline-block;
        width: 1.5 * $unit;
        margin-right: 0.5 * $unit;
        text-align: right;
        color: $color-brand;
        font-weight: 900;
      }

    }

  }

  li {

    $primes: 1, 2, 3, 5, 7, 11, 13, 17, 19, 23, 29;

    @each $prime in $primes {
      &:nth-of-type(#{$prime}n) {
        &::before { transform: rotate(random(30) - 15 + deg); }
      }
    }

  }

}
