/* ==========================================================================
   #PROSE
   ========================================================================== */

.s-prose {

  p, li, figcaption {
    text-wrap: pretty;
  }

  > h1 + p {
    @include font-size(18px);
  }

  a[href^="https://harry.is"]::after,
  a[href^="/"]::after {
    content: "";
    display: inline-block;
    width: 1ch;
    height: 1ch;
    background-image: url(/icon.png);
    background-size: cover;
    margin-left: 0.1ch;
    vertical-align: super;
  }

  details {
    background-color: #ffc;
    margin-right: -$unit;
    margin-left:  -$unit;
  }

  ul {
    list-style-type: square;

    li {

      &::marker {
        color: $color-brand;
      }

    }

    ul {
      list-style-type: disc;
    }

  }

  ol {
    counter-reset: ol;
    list-style: none;
    margin-left: 0;

    > li {
      counter-increment: ol;
      padding-left: $unit-large;
      text-indent: -$unit-large;

      &::before {
        @include font-display();
        content: counter(ol) ".";
        display: inline-block;
        width: 1.5 * $unit;
        margin-right: 0.5 * $unit;
        text-align: right;
        color: $color-brand;
        font-weight: 900;
      }

    }

  }

  li {

    // Unfortunately, we can’t use our `rotate()` mixin here as we need to pass
    // a sub-selector into it, which the mixin doesn’t currently facilitate. I’d
    // rather copy/paste than refactor at this juncture.
    @each $prime in $primes {
      &:nth-of-type(#{$prime}n) {
        &::before { transform: rotate(random(30) - 15 + deg); }
      }
    }

  }

}
