/* ==========================================================================
   #HARRY.IS
   ========================================================================== */

@import "settings.definitions";

@import "tools.functions";
@import "tools.mixins";
@import "tools.mq";

@import "generic.custom-properties";
@import "generic.normalize";
@import "generic.box-sizing";
@import "generic.reset";
@import "generic.shared";

@import "elements.page";
@import "elements.links";
@import "elements.headings";
@import "elements.typography";
@import "elements.links";
@import "elements.lists";
@import "elements.media";
@import "elements.figure";

@import "objects.wrapper";

@import "components.logo";
@import "components.logotype";
@import "components.card";
@import "components.lozenge";
@import "components.site-header";
@import "components.site-nav";
@import "components.pagination";
@import "isolated/components.masthead";

@import "scope.prose";

@import "utilities.show-hide";

.c-content {
  padding-top: 24px;

  @include mq($from: md) {
    position: relative;
    z-index: 1;
    background-color: #f9f9f9;
    margin-top: -240px;
  }

  @include mq($from: md) {
    margin-top: -12 * $unit;
  }


}
