<li class="c-card {% if post.tags contains 'highlight' %} c-card--highlight {% endif %}">

  <p class="c-card__meta">
    <time datetime="{{ post.date | date: "%Y-%m-%d" }}">{{ post.date | date: "%-d %B, %Y" }}</time>
    in <a href="/{{ post.categories }}">{{ post.categories }}</a>
  </p>

  <img src="{{ post.thumb }}" alt="" class="c-card__img" width="96" height="96"
    {% if forloop.first != true %}
      loading=lazy
      decoding=async
    {% endif %}
    {% if forloop.first == true %}
      fetchpriority=high
      decoding=sync
      onload="performance.clearMarks('First Post Thumb'); performance.mark('First Post Thumb');"
    {% endif %}
  />

  {% if forloop.first == true %}
    <script>
      performance.clearMarks("First Post Thumb");
      performance.mark("First Post Thumb");
    </script>
  {% endif %}

  <h3 class="c-card__title"><a href="{{ post.url }}">{{ post.title }}</a></h3>

  {{ post.excerpt }}

  <a href="{{ post.url }}" class="c-card__cta"><span class="u-visually-hidden">Read more…</span></a>

  <nav class="c-tag-list">
    {% for tag in post.tags %}
      <a href="/tagging/{{ tag }}/" class="c-tag">{{ tag }}</a>
    {% endfor %}
  </nav>

</li>

{% if forloop.first == true %}
  <script>
    performance.mark("First Post Rendered");
  </script>
{% endif %}
