/* ==========================================================================
   #SITE-FOOTER
   ========================================================================== */

@import "isolated-core";

.c-site-footer {
  background-color: $color-text;
  text-align: center;
  color: $color-text;
  padding-top:    $unit-huge;
  padding-bottom: $unit-huge;
}
