/* ==========================================================================
   #PAGINATION
   ========================================================================== */

@import "isolated-core";

.c-pagination {
  display: flex;
  padding-top:    $unit-small;
  padding-bottom: $unit-small;
  border: 0 solid $color-brand;
  border-top-width: 1px;
  border-bottom-width: 1px;
}

  .c-pagination__item {
    flex-grow: 1;
    flex-basis: 0;
    padding: $unit-small;

    &::before,
    &::after {
      @include font-size(12px);
      letter-spacing: 1px;
      display: block;
      text-transform: uppercase;
      font-weight: 700;
    }

  }

  .c-pagination__prev {

    &::before {
      content: "Previously:"
    }

  }

  .c-pagination__next {
    text-align: right;

    &::before {
      content: "Up Next:"
    }

  }
