---
layout: default
---

</div><!-- Close page flow -->

<!-- Full-bleed masthead -->
<style>
  {% include css/components.masthead.css %}
</style>

<div class="c-masthead" style="background-image: url({{ page.main }}), url('data:image/jpeg;base64,{{ page.placeholder }}');">
</div>

<!-- Start page flow -->
<div class="o-wrapper  s-prose  c-content">

  {% if page.type == 'post' %}

    <header class="c-content__meta">
      <time datetime="{{ page.date | date: "%Y-%m-%d" }}"  itemprop="datePublished">{{ page.date | date: "%-d %B, %Y" }}</time>
      in
      {% if  page.categories  %}
        <a href="/{{ page.categories }}/">{{ page.categories }}</a>
      {% endif %}
    </header>

  {% endif %}

  <h1>{{ page.title }}</h1>

  {{ content }}

  {% if page.type == 'post' %}

    <footer class="c-content__footer">

      <nav class="c-tag-list">
        {% for tag in page.tags %}
          <a href="/{{ tag }}/" class="c-tag">{{ tag }}</a>
        {% endfor %}
      </nav>

    </footer>

    {% endif %}

  {% include pagination.html %}

  {% include related-posts.html %}
