---
layout: default
---

</div><!-- Close page flow -->

<!-- Full-bleed masthead -->
<div class="c-masthead" style="background-image: url({{ page.main }}), url('data:image/jpeg;base64,{{ page.placeholder }}');">
</div>

<!-- Start page flow -->
<div class="o-wrapper  s-prose  c-content">


  <h1>{{ page.title }}</h1>

  {% if  page.categories  %}
  <p>
    <a href="/{{ page.categories }}/" class="c-lozenge">{{ page.categories }}</a>
  </p>
  {% endif %}

    {{ content }}

{% include pagination.html %}

{% include related-posts.html %}
