---
layout: default
---

</div><!-- Close page flow -->

<!-- Full-bleed masthead -->
<style>
  {% include css/components.masthead.css %}
</style>

{% comment %}
  Derive small and medium hero paths from the main path.
{% endcomment %}
{% assign hero_small = page.main %}
{% assign hero_medium = page.main %}
{% if page.hero_responsive %}
  {% assign hero_small = page.main | replace: '-main.jpg', '-small.jpg' %}
  {% assign hero_medium = page.main | replace: '-main.jpg', '-medium.jpg' %}
{% endif %}

<div class="c-masthead" elementtiming="masthead" style="

  {% if page.main %}
    --masthead-image-small: url('{{ hero_small }}');
    --masthead-image-medium: url('{{ hero_medium }}');
    --masthead-image-main: url('{{ page.main }}');
  {% endif %}

  {% if page.placeholder and page.placeholder != '' %}
    --masthead-placeholder: url('data:image/jpeg;base64,{{ page.placeholder }}');
  {% endif %}

">
</div>

<!-- Start page flow -->
<div class="o-wrapper  s-prose  c-content">

  {% if page.type == 'post' %}

    <header class="c-content__meta">
      <time datetime="{{ page.date | date: "%Y-%m-%d" }}"  itemprop="datePublished">{{ page.date | date: "%-d %B, %Y" }}</time>
      in
      {% if  page.categories  %}
        <a href="/{{ page.categories }}/">{{ page.categories }}</a>
      {% endif %}
    </header>

  {% endif %}

  <h1 elementtiming="page-title">{{ page.title }}</h1>

  {{ content }}

  {% if page.type == 'post' %}
  </div>
  <div class="o-wrapper">

    <footer class="c-content__footer">

      <h3>Post Tags</h3>

      <nav class="c-tag-list">
        {% for tag in page.tags %}
          <a href="/tagging/{{ tag }}/" class="c-tag">{{ tag }}</a>
        {% endfor %}
      </nav>

    </footer>

    {% endif %}

  {% include pagination.html %}

  {% include related-posts.html %}
