---
layout: default
---

<h1>{{ page.title }}</h1>

<p>
  <a href="/{{ page.categories }}/" class="c-lozenge">{{ page.categories }}</a>
</p>

<div class="s-prose">

  {{ content }}

</div>


<nav class="c-pagination">
  {% if page.previous.url %}
    <a href="{{page.previous.url}}" class="c-pagination__item  c-pagination__prev">{{page.previous.title}}</a>
  {% endif %}
  {% if page.next.url %}
    <a href="{{page.next.url}}" class="c-pagination__item c-pagination__next">{{page.next.title}}</a>
  {% endif %}
</nav>
